.weather-per-day {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #8fd6d6;

  &__content {
    font-size: 18px;
    background-color: #a5e0e0;
    display: flex;
    justify-content: space-around;

    &-day,
    &-humidity,
    &-icon,
    &-temp {
      padding: 12px;
      display: flex;
      align-items: center;
    }

    // weather icon
    &-weather-icon {
      width: 50px;

      &-img {
        width: 40px;
      }
    }

    // max and min temp
    &-temp {
      &-icon {
        font-size: 35px;
        margin-left: -14px;
      }

      &-slash {
        margin-left: -13px;
        margin-right: 4px;
      }
    }
  }
}
